* {
	font-family: 'Poppins', sans-serif;
}

.nav li {
	list-style: none;
	padding: 30px;
}

.nav li a {
	text-decoration: none;
	color: #fffcfc;
	font-size: larger;
}

.nav,
ul,
li,
a {
	background-color: rgb(196, 147, 240);
}

.navHome {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	text-align: center;
}
